<p id="notice"><%= notice %></p>

<h1>To do list</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  </thead>

  <ul class= "list-group fs-5">
    <% @todos.each do |todo| %>
    <li class= "d-flex justify-content-between list-group-item align-items-center">

    <div>
       <input class="form-check-input mt-0 fs-4 me-3" type="checkbox" value="">
        <%= link_to todo.title, todo_path(todo.id) %>
    </div>

    <div>
        <%= link_to 'Modifier', edit_todo_path(todo), class: "btn btn-secondary" %>
        <%= link_to 'Supprimer', todo, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Etes-vous sûr de vouloir supprimer cette tâche ?' } %>
    </div>
</li>
    <% end %>
  </tbody>
</table>

<br>

<div class="container text-center">
<%= link_to 'Nouvelle tâche +', new_todo_path, class: "btn btn-success" %>
</div>


